@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="image-container" style="width: 100%; height: 100vh; float: left">
    <img src="~/hinhanh/shopdoluniem.png" alt="Alternate Text" style="width: 100%; height: 90%; object-fit:cover"/>
</div>