html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #FFF8DC;
    margin-bottom: 60px;
}


.custom-logo {
    width: 70px; /* Ð?nh ngh?a chi?u r?ng */
    height: auto; /* Chi?u cao s? t? ði?u ch?nh týõng ?ng */
}
.card-login {
    background-color: #FFEC8B; /* Màu xám nh?t */
    border: 1px solid #FFEC8B; /* Ðý?ng vi?n xám nh?t */
}
